.body{
  background-color: #605858;
  }
.colored-header {
  background-color: #007bff;
  color: #fff;

}
.colored-paragraph {
  background-color: #333;
}
.name {
  color: #dc3545;
  } 
.brief-intro {
  color: #17a2b8;
}
.colored-label {
  color: #6610f2;
}
.colored-input, .colored-textarea {
  background-color: #6c757d;
  color: #fff;
}
header {
  background-color: #343a40;
  color: #fff;
}
header a {
  color: #007bff;
}
.body-class {
  background-color: #605858;
}
.header-class {
  background-color: #333;
  color: #fff;
}
.nav-class {
  background-color: #6c757d;
  color: #007bff;
}
.nav-class a.active {
  font-weight: bold;
}
.title-class {
  color: #6610f2;
}
.section-title-class {
  color: #6610f2;
}

.text-class {
  color: #fff;
}

.image-class {
  border:2px solid #007bff;
}
